/* * {
    border: red 1px solid;
} */

.mainContainer {
    display: flex;
    background-color: lightblue;
    flex-direction: column;
}

.header {
    display: flex;
    height: 50px;
    background-color: bisque;
    flex: 1;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    border: black solid 1px;
}

.title {
    display: flex;
    font-size: 30px;
    flex-direction: row;
    flex: 1;
    font-family: fantasy;
    margin: 0em 0em 0em 1em;
}

.topNav {
    display: flex;
    font-size: x-large;
    flex-direction: row;
    flex: 2;
    justify-content: space-around;
    font-family: fantasy;
    margin: 0em 3em 0em -8em;
    text-decoration: underline;
}

.account {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login, .createAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    margin: 1em 2em 1em 1em;
    box-shadow: 5px 5px black;
    background-color: rgb(190, 92, 39);
    color: white;
    font-weight: bold;
}

.bottom {
    display: flex;
    background-color: rgb(227, 238, 241);
    height: 1200px;
    flex-direction: row;
}

.columns {
    display: flex;
    flex-direction: row;
}

.sideNav {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 700px;
    background-color: bisque;
    flex: 1;
    font-size: x-large;
    border: solid 1px black;
}

.sideNav p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    margin: 2em 0em 0em 0em;
}

.storeFront {
    background-color: lightgray;
    width: 1200px;
    height: 1000px;
    margin: 2em;
    flex: 2;

}